main {
  .global {
    display: flex;
    flex-direction: column;
    gap: 40px 0px;

    &__heading {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 7px 0px;
      align-items: center;
    }
    &__map {
      width: 100%;
      display: flex;
      img {
        height: auto;
        width: 200px;
        flex-grow: 1;
      }
    }
    &__company {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px 20px;
      @include medium-screen {
        flex-wrap: wrap;
        gap: 15px 20px;
      }
      @include large-screen {
        flex-wrap: wrap;
        gap: 15px 20px;
      }
      @include small-screen {
        flex-wrap: wrap;
        gap: 15px 60px;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          @include large-screen {
            width: 187px;
          }
          @include medium-screen {
            width: 170px;
          }
          @include small-screen {
            width: 140px;
          }
          width: 180px;
          height: auto;
        }
      }
    }
  }
}
