* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: $h1-color;
  background-color: transparent;
  @include large-screen {
    font-size: 30px;
    line-height: 50px;
  }
  @include medium-screen {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  @include small-screen {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}
p {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: $p-color;
  span {
    font-weight: 500;
  }
  @include large-screen {
    font-size: 20px;
  }
  @include medium-screen {
    font-size: 18px;
  }
  @include small-screen {
    font-size: 13px;
    text-align: center;
  }
}

h5 {
  background-color: transparent;
  color: $h1-color;
  font-size: 18px;
}

section {
  padding: 40px 0px;
}

main {
  margin: 40px 150px;
  @include extra-large-screen {
    margin: 40px 120px;
  }
  @include large-screen {
    margin: 40px 60px;
  }

  @include medium-screen {
    margin: 40px 20px;
  }
  @include small-screen {
    margin: 10px 10px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @include medium-screen-down {
    position: absolute;
    flex-direction: column;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 00;
    gap: 20px 0px;
  }
}

@include medium-screen-down {
  nav:has(.input:checked) .nav-links {
    transform: translateY(70px);
    z-index: 10;
    transition: 0.5s;
  }
}

nav .nav-links ul {
  display: flex;
  position: relative;
  @include large-screen {
    gap: 0px 20px;
  }
  @include medium-screen-down {
    flex-direction: column;
    width: 100%;
  }
  gap: 0px 40px;
  align-items: center;
  li {
    @include medium-screen-down {
      padding: 20px;
      border-bottom: 1px solid $p-color;
      width: 100%;
      text-align: center;
    }

    a {
      @include extra-large-screen {
        font-size: 15px;
      }

      @include large-screen {
        font-size: 14px;
      }
      color: $nav-links-color;
      font-weight: 400;
    }
  }
}

nav .nav-links .log-links {
  display: flex;
  gap: 0px 20px;
  justify-content: end;
  align-items: center;
  @include medium-screen-down {
    display: none;
  }
}

nav .nav-links .log-links a:first-child {
  color: $signin-color;
  @include extra-large-screen {
    font-size: 14px;
  }
  @include large-screen {
    font-size: 14px;
  }
}

nav .nav-links .log-links a:last-child {
  @include extra-large-screen {
    font-size: 14px;
  }
  @include large-screen {
    font-size: 14px;
  }
  padding: 7px 20px;
  border: 2px solid $sign-up-color;
  border-radius: 20px;
  color: $signin-color;
}

nav .humborger {
  display: none;
  @include medium-screen-down {
    display: inline-block;
    .input {
      display: none;
    }
    .label {
      display: flex;
      flex-direction: column;
      gap: 5px 0px;
    }

    .label__div {
      transition: 0.4s;
      width: 40px;
      height: 4px;
      background-color: black;
    }
    &:has(.input:checked) .label__div:first-child {
      transform: translateY(10px) rotate(40deg);
    }
    &:has(.input:checked) .label__div:nth-child(2) {
      opacity: 0;
      visibility: visible;
    }
    &:has(.input:checked) .label__div:last-child {
      transform: translateY(-7px) rotate(-40deg);
    }
  }
}
