main {
  .plan {
    background-image: linear-gradient(to bottom, #f8f8f88a, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px 0px;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 10px 0px;
      background-color: transparent;

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        color: $nav-links-color;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      @include large-screen {
        gap: 0px 10px;
      }
      @include medium-screen {
        flex-wrap: wrap;
        gap: 30px 20px;
      }
      @include small-screen {
        flex-wrap: wrap;
        gap: 30px 0px;
      }
      gap: 0px 20px;
      .plan__details {
        @include extra-large-screen {
          width: 230px;
        }

        @include large-screen {
          width: 210px;
          height: 600px;
          gap: 20px 0px;
        }

        @include medium-screen {
          width: 250px;
          flex-grow: 1;
          &:last-child {
            flex-grow: 0;
          }
        }
        @include small-screen {
          flex-grow: 1;
          margin: 0px 40px;
        }
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        border: 1px solid #dddddd;
        align-items: start;
        justify-content: center;
        gap: 40px 0px;
        width: 330px;
        height: 760px;
        border-radius: 10px;
        padding: 40px 0px;
        &:last-child {
          border: 2px solid $bottom-color;
          a {
            background-color: $bottom-color;
            color: white;
          }
        }

        &--info {
          @include extra-large-screen {
            gap: 40px 0px;
            img {
              width: 90px;
              height: auto;
            }
          }
          @include large-screen {
            gap: 35px 0px;
            img {
              width: 80px;
              height: auto;
            }
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 40px 0px;
          p {
            color: $signin-color;
            font-weight: 500;
            font-size: 18px;
          }
        }

        &--ul {
          ul {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px 0px;
            li {
              @include extra-large-screen {
                font-size: 12px;
              }
              @include large-screen {
                font-size: 12px;
              }
              padding-inline-start: 25px;
              position: relative;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              color: $nav-links-color;
              &::before {
                content: "L";
                position: absolute;
                color: green;
                transform: rotateY(180deg) rotate(-30deg);
                left: 0px;
                font-size: 15px;
              }
            }
          }
        }

        &--links {
          display: flex;
          flex-direction: column;
          gap: 10px 0px;
          align-items: center;
          align-self: flex-end;
          p {
            color: $h1-color;
            line-height: 30px;
            font-size: 25px;
            font-weight: 500;
            span {
              font-weight: 400;
            }
          }
          a {
            font-weight: 700;
            color: white;
            padding: 10px 55px;
            border-radius: 50px;
            border: 2px solid $bottom-color;
            color: $bottom-color;
          }
        }
      }
    }
  }
}
