main {
  .review {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
    gap: 90px 0px;
    &__heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 40px 0px;
      p {
        font-weight: 400;
        color: $p-color;
        line-height: 30px;
        text-align: center;
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0px 20px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      &::-webkit-scrollbar {
        height: 2px;
      }

      &::-webkit-scrollbar-thumb {
        @include extra-large-screen {
          background-color: $bottom-color;
        }

        @include large-screen {
          background-color: $bottom-color;
        }

        @include medium-screen {
          background-color: $bottom-color;
        }
        @include small-screen {
          background-color: $bottom-color;
        }
      }

      &__box {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
        width: 410px;
        min-height: 250px;
        flex-shrink: 0;
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #dddddd;
        padding: 20px;
        margin-bottom: 10px;
        scroll-snap-align: start;
        &:first-child {
          border: 1px solid $bottom-color;
        }
        &--info {
          display: flex;
          gap: 0px 20px;
          justify-content: space-between;
          align-items: center;
          &--name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px 10px;
            img {
              width: 50px;
              height: 50px;
            }
            &--info {
              transform: translateY(8px);
              h5 {
                font-weight: 500;
                color: $h1-color;
                font-size: 18px;
                line-height: 15px;
                text-align: center;
              }
              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                text-align: center;
                color: $p-color;
              }
            }
          }
        }
        &--text {
          @include extra-large-screen {
            font-size: 14px;
          }
          @include large-screen {
            font-size: 14px;
          }
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 30px;
          font-weight: 400;
          color: $h1-color;
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 30px;
      @include small-screen {
        justify-content: center;
      }
      &--dots {
        img {
          width: 135px;
          height: 15px;
        }
      }
      &--click {
        @include small-screen {
          display: none;
        }
        display: inline-block;
        transform: translateY(-48px);
        img {
          align-self: self-start;
        }
        [alt="click-right"] {
          transform: translateY(58px);
        }
      }
    }

    &__subscribe {
      align-self: center;
      display: grid;
      grid-template-areas: "title bottom";
      box-shadow: 0px 0px 40px #0d102519;
      width: 90%;
      padding: 30px 0px;
      @include medium-screen {
        grid-template-areas:
          "title"
          "bottom";
        gap: 80px 0px;
      }
      @include small-screen {
        grid-template-areas:
          "title"
          "bottom";
        gap: 80px 0px;
      }
      &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
          font-weight: 400;
          color: $p-color;
          padding-top: 7px;
        }
      }
      &--bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 15px 45px;
          background-color: $bottom-color;
          color: white;
          font-weight: 700;
          line-height: 25px;
          border-radius: 10px;
          box-shadow: 7px 10px 35px $bottom-color;
        }
      }
    }
  }
}
